table {
  border-collapse: collapse;
  width: 100%;
  
}

th, td {
  text-align: left;
  padding: 3px;
}

tr:nth-child(even) {
  background-color: #C0D9D9
}

th {
  background-color: #3299CC;
  color: white;
}

input[type=text]{     
width:45px;
}

horaSaidaentrada{
margin-left: 3px; 
margin-right: 3px;
}